$primary-color: #075555;
$secundary-color: #008080;
$background-color: #F1F1F1;
$danger-color: #8d1616;
$warning-color: #d8c51b;

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 1.3rem;
	background-color: $background-color;
	width: 75%;
	margin: 0 auto;
}

button, input[type=submit]{
	height: 2.5rem;
	border: none;
	font-size: 1.3rem;
	border-bottom: 4px solid black;
	margin-left: 0.5rem;
	cursor: pointer;
	color: $primary-color;
}

.deleteButton {
	color: $danger-color;
}

.container{
	color: black;
	text-align: center;
	font-size: 1.3rem;
}

.is-completed {
	text-decoration: line-through;
	color: $secundary-color;
}

.input {
	padding: 0.5rem;
	margin: 1rem 0;
}

.task{
	padding: 0.5rem;
}